.navbar {
  background-color: black;
  padding: 20px;
}

.navbar ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar ul li a {
  color: white;
}
